export SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
export GROQ_API_KEY=$(pass groq/api)
export PORTKEY_API_KEY=$(pass groq/portkey-api)

export TELEGRAM_BOT_TOKEN=$(pass k8s-ai-sre/telegram-token)
export TELEGRAM_CHAT_ID=$(pass k8s-ai-sre/telegram-chat-id)
export TELEGRAM_ALLOWED_CHAT_IDS=$(pass k8s-ai-sre/telegram-chat-id)

export WRITE_ALLOWED_NAMESPACES=ai-sre-demo
